body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.main-wrapper {
  background-image: url("https://storage.123fakturera.se/public/wallpapers/sverige43.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  margin-top: 10px;
  height: 100px;
}
.logo {
  width: 60px;
  height: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: 300%;
}

.navbar ul {
  list-style: none;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  width: 55%;
  position: relative;
  margin: auto;
}
.navbar li {
  margin-left: 20px;
}
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.langSelect {
  position: relative;
  display: inline-block;
}

.langBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  gap: 12px;
}

.flagIcon {
  width: 30px;
  padding: 1px;
  height: 20px;
  border-radius: 3px;
  object-fit: cover;
}

.langDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  background: white;
  color: black;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  padding: 5px;
  z-index: 999;
}

.langOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2px 8px 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.langOption:hover {
  background: #f2f2f2;
}

form {
  background-color: white;
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
form h1 {
  text-align: center;
  font-size: 40px;
  color: #ef3c36;
  margin-bottom: 20px;
}
form label {
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}
form input {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 14px;
  width: 100%;
}
.errorText {
  color: red;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.passwordBox {
  position: relative;
  width: 100%;
}

.passwordInput {
  width: 100%;
  padding-right: 5px;
}

.eyeIcon {
  position: absolute;
  right: 5px;
  top: 60%;
  padding: 2px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 22px;
  color: #b5b5b5;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
form button {
  background-color: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}
.register,
.re,
.fo {
  margin: 5px 5px 0 5px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: black;
}

.main-footer {
  color: #ffffff;
  padding: 40px 5% 20px 5%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
}

.footer-add {
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 50px;
  font-size: 1.1rem;
  justify-content: space-between;
}

.footer-line {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin: 0 0 15px 0;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin: 50px;
}

.hamburger {
  font-size: 36px;
  cursor: pointer;
  display: none;
  color: white;
}

.mobile-menu {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 260px;
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
  padding: 10px 0;
}

.mobile-menu a {
  display: block;
  padding: 18px 30px;
  color: #222;
  text-decoration: none;
  font-size: 16px;
}

.mobile-menu a:hover {
  background: #f2f2f2;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .logo {
    display: none;
  }
  .langSelect {
    display: block;
  }

  .navbar a {
    display: none;
  }
  .langSelect {
    display: block;
  }
}
