.layout {
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

.topbar {
  height: 70px;
  background: #0c77d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  color: white;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 22px;
}
.profile {
  position: relative;
  width: 50px;
}
.profile-status {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border: 2px solid white;
}

.user-info h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.user-info p {
  margin: 0;
  font-size: 12px;
  opacity: 0.9;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag {
  width: 32px;
  height: 20px;
  border-radius: 3px;
}

.main {
  display: flex;
  height: calc(100vh - 70px);
}
.sidebar {
  width: 240px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  color: #444141;
  border-bottom: 2px solid #0fc7ff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  color: #555;
  transition: 0.3s;
}
.menu li img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.menu li:hover {
  background: #eaf3ff;
  color: #0c77d6;
}

.menu li.active {
  background: #eaf3ff;
  font-weight: bold;
  color: #0c77d6;
}
.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}
.status-dot.online {
  background-color: #22c55e;
}
.status-dot.offline {
  background-color: #9ca3af;
}
.content {
  flex: 1;
  padding: 18px;
}

.content-top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 18px;
}

.search-group {
  gap: 16px;
}

.search-area {
  position: relative;
}

.search-area input {
  width: 220px;
  padding: 8px 36px 8px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  margin: 5px;
}
.search-area input:focus {
  border-color: #4aa3ff;
}
.search-area img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.action-area {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 70px;
}
.th-icon {
  width: 16px;
  height: 14px;
  margin-left: 1px;
  vertical-align: middle;
  cursor: pointer;
}
.pill {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col-product {
  width: 200px;
}

.col-desc {
  width: 200px;
}
.col-article {
  width: 80px;
}
.col-unit {
  width: 70px;
}
.col-inprice,
.col-price,
.col-stock {
  width: 50px;
}
.col-menu,
.col-article,
.col-product,
.col-inprice,
.col-price,
.col-unit,
.col-stock,
.col-desc,
.arrow-right {
  padding: 0 15px 0 15px;
}
td input {
  width: 100%;
  height: 28px;
  padding: 0 12px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  background: #ffffff;
  font-size: 12px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.arrow-left,
th.col-menu {
  width: 30px;
  padding: 0 0 0 60px;
  text-align: left;
}
.arrow-left img {
  width: 16px;
  height: 30px;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
}
.arrow-right {
  width: 70px;
  padding: 0 50px 0 0;
  text-align: center;
  overflow: hidden;
}

.arrow-right img {
  width: 30px;
  height: 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.7;
}

.arrow-right img:hover {
  opacity: 20;
}
.arrow-left img:hover {
  opacity: 20;
}
.save-btn {
  background-color: #5bc0de;
  border: none;
  color: white;
  width: 35px;
  height: 25px;
  padding: 0;
  border-radius: 16px;
  font-size: 11px;
  cursor: pointer;
  transition: 0.2s ease;
}
.save-btn:hover {
  background-color: #31b0d5;
}
.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
.btn img {
  width: 16px;
  height: 16px;
}

.btn:hover {
  background: #0c77d6;
  color: white;
}

.table-wrap {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
  overflow-x: auto;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
}
.price-table tbody tr {
  height: 32px;
  border-bottom: 8px solid #fefefe;
}
.price-table th {
  text-align: start;
  padding: 0 15px 20px 25px;
  color: #444141;
  font-weight: bold;
  white-space: nowrap;
}

.price-table tbody tr:hover {
  background: #f7fbff;
}
.pl-hamburger {
  display: none;
}
.price-table td > span,
.price-table td > input {
  display: inline-block;
}

.price-table input:focus {
  border: 1px solid #5bc0de;
  background: #ffffff;
}

@media (max-width: 1024px) {
  .profile,
  .user-info {
    display: none;
  }

  .pl-hamburger {
    display: block;
    font-size: 26px;
    color: white;
  }
}

.col-article,
.col-inprice,
.col-unit,
.col-stock,
.col-desc,
.sidebar {
  display: none;
}

table {
  width: 100%;
  table-layout: fixed;
}

@media (min-width: 768px) {
  .col-article,
  .col-unit {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .col-inprice,
  .col-stock,
  .col-desc,
  .sidebar {
    display: table-cell;
  }
}
